CompileFlags:
  Add:
    - -Wno-macro-redefined

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Hover:
  ShowAKA: true

InlayHints:
  Enabled: false

Completion:
  AllScopes: true
---
If:
  PathMatch: [.*\.cpp, .*\.mm, .*\.h]
CompileFlags:
  Add: [-std=c++17]
---
If:
  PathMatch: [.*\.c]
CompileFlags:
  Add: [-std=c11]
---
If:
  PathMatch: [test/ios/.*]
CompileFlags:
  Add:
    - --target=arm64-apple-ios18.0-simulator
    - -isysroot
    - /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk
---
If:
  PathMatch: [test/android/.*]
CompileFlags:
  Add:
    - --target=aarch64-linux-android26
    - --sysroot=.ndk-sysroot
